@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap");
$font-title: Fraunces, sans-serif;

.container {
  display: flex;
  width: 100vw;
  .info-box {
    width: 50%;
    margin: 0;
  }
  .image-box {
    width: 50%;
    height: 600px;
    background-image: url('./img/image-transform.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  .image-box-aud {
    width: 50%;
    height: 600px;
    background-image: url('./img/image-stand-out.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  .info-text {
    position: relative;
    padding-top: 10%;
  }
  h1 {
    padding-left: 10%;
    text-align: left;
    font-family: $font-title;
  }
  p {
    color: var(--dark-grayish-blue);
    padding: 0 10% 2% 10%;
  }
  .Btn-yellow {
    font-family: $font-title;
    font-weight: 900;
    text-decoration: underline 5px hsla(51, 100%, 49%, 0.3);
    cursor: pointer;
    padding-left: 10%;
  }
  .Btn-yellow:hover {
    text-decoration: underline 5px hsla(51, 100%, 49%, 1);
  }
  .Btn-softRed {
    font-family: $font-title;
    font-weight: 900;
    text-decoration: underline 5px hsla(7, 99%, 70%, 0.6);
    cursor: pointer;
    padding-left: 10%;
  }
  .Btn-softRed:hover {
    text-decoration: underline 5px hsla(7, 99%, 70%, 1);
  }
}

@media (max-width: 780px) {
  .container {
    display: block;
    .info-box {
      width: 100%;
    }
    .image-box {
      width: 100vw;
      height: 370px;
      background-image:  url('./img_mobile/image-transform.jpg');
      background-position: center center;
      background-size: contain;
      background-repeat: no-repeat;
    }
    .image-box-aud {
      width: 100vw;
      height: 370px;
      background-image: url('./img/image-stand-out.jpg');
      background-repeat: no-repeat;
      background-size: contain;
    }
    .info-text {
      padding-top: 0%;
      height: 400px;
    }
  }
}
