.section-banner{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url('./img/image-header.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}


.navigation {
    display: flex;
    height: 80px;
    ul{
        list-style: none;
        display: flex;
    }
    li {
        margin: 0 auto;
        list-style: none;
    }
}