@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap");
$font-heading: Fraunces, sans-serif;

:root {
    /* Primary */
    --soft-red: hsl(7, 99%, 70%);
    --yellow: hsl(51, 100%, 49%);
    --dark-desaturated-cyan: #25564b;
    --dark-blue: hsl(198, 62%, 26%);
    --dark-moderate-cyan: hsl(168, 34%, 41%);
  
    /* Neutral */
    --very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --very-dark-grayish-blue: hsl(213, 9%, 39%);
    --dark-grayish-blue: hsl(232, 10%, 55%);
    --grayish-blue: hsl(210, 4%, 67%);
    --white: hsl(0, 0%, 100%);
  }

.section-banner{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url('./img/image-header.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.Logo {
    position: relative;
    width: 80px;
    margin-top: 2.5%;
    cursor: pointer;
    margin-left: 5%;
}
.navigation {
    display: flex;
    flex-wrap: wrap;
    height: 80px;
    ul{
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10%;
    }
    .Underline {
        padding-top: 1%;
    }
    .Underline:hover {
        text-decoration: underline 4px hsl(0, 100%, 100%);
    }
    li {
        width: 80px;
        height: 30px;
        list-style: none;
        cursor: pointer;
        padding-left: 10%;
        padding-top: 1%;
    }
    a {
        width:100px;
        height: 40px;
        color: white;
        text-decoration: none;
        margin-top: 2%;
    }
    .item-group {
        margin-left: 30%;
    }
    .ContactBtn {
        width: 200px;
        height: 40px;
        font-family: $font-heading;
        background-color: white;
        border-radius: 20px 20px 20px 20px;
        color: black;
        padding: 1% 0 1% 1%;
    }
    .ContactBtn:hover {
        background-color: #77cdf5;
    }
}
.Heading {
    position: relative;
    font-family: $font-heading;
    text-align: center;
    color: white;
    text-transform: uppercase;
    margin-top: 5%;
    letter-spacing: 5px;
 }
 .icon-arrow-down {
    position: relative;
    margin-left: 49%;
    margin-top: 7%; 
 }

 @media (max-width: 780px) {
     .section-banner {
         background-image: url('./img_mobile/image-header.jpg');
     }
 }